<div class="container ">
    <div class="heder">
        <h1>property</h1>
    </div>
    <!--coment form--->
    <div class="row">
        <div class="col-7 ">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
            </form>
        </div>
        <div class="col-5">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
            </form>
        </div>
    </div>
    <!--com 2-->
    <div class="row mt-4 ">
        <div class="col-3">
            <mat-card> <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
        </div>
        <div class="col-3">
            <mat-card><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
        </div>

        <div class="col-3">
            <mat-card> <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
        </div>

        <div class="col-3">
            <mat-card> <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
        </div>
    </div>
    <!--------------->
    <div class="row mt-3">
        <div class="col-12">
            <div class="col">
                <mat-card> <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
            </div>
        </div>
    </div>



    <button mat-button color="accent" type="button">click </button>

</div>